@use './variables' as *;
@use './mixin' as *;

// ============================================================
// 푸터
// ============================================================
.footer_container {
	@include flex_center;
	height: 30px;
	background-color: $color_111;
	border-top: 1px solid $color_gray_border;
	font-size: $font_size_sm;
	color: $color_white;
}