@use './variables' as *;
@use './mixin' as *;

// ============================================================
// 푸터
// ============================================================
.footer_container {
	@include flex_center;
	height: 30px;
	background-color: $color_111;
	font-size: $font_size_sm;
	color: $color_white;
}
@media (max-width: 1280px) {
	.footer_container{
		display: none;
	}
}